.about{
    margin: 150px 0px 150px 0px;
}

.about h1{
    font-family: Berkshire Swash;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 90px;
    text-align: center;
    color: #CC9900;
}

.card{
    margin: 50px;
    padding: 50px 50px 10px 50px;
    width: 450px;
    background-color: #E0E0E0;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containers{
    display: flex;
    justify-content: center;
}




/* phone screen */
@media only screen and (max-width: 450px) {
    .card{
        width:70%;
        padding: 10px;
        margin: 5px;
    }

    .containers{
        flex-wrap: wrap;
    }

    .about h1{
        font-size: 30px;
    }

    .about{
        margin: 150px 0px 150px 0px;
    }
}
