.about{
    margin: 60px 0px 200px 0px;
    background-image: url('./../svg/back1.png');
    background-repeat: no-repeat;
}

.about h1{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 90px;
    text-align: center;
    color: #000;
}

.about-card{
    margin: 0px 50px 50px 50px;
    padding: 50px 80px 50px 80px;
    width: 550px;
    font-family: 'Work Sans', sans-serif;
    background-color: #fff;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about-card p{
    line-height: 26px;
    font-weight: 600;
}

.containers{
    display: flex;
    justify-content: center;
}


.about-title-text{
    color: #0079D1;
}

/* phone screen */
@media only screen and (max-width: 450px) {
    .about-card{
        width:70%;
        padding: 10px;
        margin: 5px;
    }

    .containers{
        flex-wrap: wrap;
    }

    .about h1{
        font-size: 30px;
    }

    .about{
        background-size: 570px 200px;
    }    

}


/* phone screen */
@media only screen and (max-width: 750px) {
    .about-card{
        width:70%;
        padding: 10px;
        margin: 5px;
    margin: 20px;
    padding: 20px 20px 10px 20px;
    width: 450px;
    background-color: #fff;
}
}
