.faq{
    margin: 150px;
}

.faq h1{
    font-family: Berkshire Swash;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 80px;
    text-align: center;
    color: #CC9900;
    width: 100%;
}


.card1{
    padding: 50px;
    background-color: #E0E0E0;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
    text-align: center;
}


.card1 p{
    font-family: Montserrat;
}
.card1 h5{
    font-family: Montserrat;
}

.card1 h4{
    font-family: Berkshire Swash;
}

.question{
    margin: 0px 0px 30px 0px;
}

.question h4{
    margin-bottom: 1px;
    font-size: 16px;
}

.q1{
    position: relative;
    float: left;
    margin: -50px;
}

.q2{
    position: relative;
    float: right;
    margin: -100px;
}

/* phone screen */
@media only screen and (max-width: 450px) {
    .faq{
        margin: 50px;
    }
    
    .faq h1{
        font-size: 40px;
        width: 100%;
    }
    
    .card1{
        padding: 20px;
    } 
    
    .q1{
        display: none;
    }
    
    .q2{
        display: none;
    }
}

/* phone screen */
@media only screen and (max-width: 950px) {
    .q1{
        display: none;
    }
    
    .q2{
        display: none;
    }

    .faq{
        margin: 50px;
    }
}