.main{
    margin: 60px 0px 200px 0px;
}

.lang-buttons button{
    width: 250px;
    background: #1D4573;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 220px;
    color: #FFFFFF;
    margin: 5px;
}

.header h1{
    font-family: Berkshire Swash;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 90px;
    text-align: center;
    color: #CC9900;
    position: relative;
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.header img {
    margin: 20px;   
}

.sub-header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 45px;
    text-align: center;
    color: #000000; 
}


.buttons button{
    background: #1D4573;
    border-radius: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 32px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 240px;
    color: #FFFFFF;
    margin: 5px;
}

.buttons{
    margin:20px;
}

.buttons{
    text-align: center;
}

.curve img{
    margin-left: -10px;
}


/* footer */
.footer{
    background-color: #E0E0E0;
    text-align: center;
    padding: 20px;
    color:black;
}

.footer p{
    line-height: 10px;
}

.footer code{
    color:black;
}


/* phone screen */
@media only screen and (max-width: 450px) {
    .main{
        margin: 20px 0px 0px 0px;
        width:100%;
    }
    .header h1{
        font-size: 30px;
    }
    
    .header{
        margin-bottom: 20px;
    }
    
    .header img {
        margin: 5px;  
        width: 10%; 
    }
    
    .sub-header h3{ 
        font-size: 25px;
    }
    
    .buttons{
        margin:10px;
    }
    
    .buttons button{
        font-size: 16px;
        padding: 10px 0px 10px 0px;
        width: 160px;
    }
    
    .curve img{
        margin-left: 0px;
        width: 400px;
        object-fit: cover;
    }
}