.all{
    background-image: url('./../svg/Desktop.svg')
}

.main{
    margin: 60px 0px 200px 0px;
}

.lang-buttons{
    text-align: end;
    margin-right: 1rem;
}

.lang-buttons button{
    background: rgb(10, 29, 51);
    border-radius: 5px;
    border: none;
    font-family: Roboto;
    font-size: 1.2rem;
    padding: 0.3rem 0px 0.3rem 0px;
    width: 10vw;
    color: #FFFFFF;
    margin: 0.5rem;
}

.header h1{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 64px;
    text-align: center;
    color: #000000;
    position: relative;
}

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.header img {
    margin: 20px;   
}

.sub-header{
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    color: #000000; 
}

.sub-header h3{ 
    font-size: 24px;
}

.primary-btn {
    background: #0079D1;
}

.secondary-btn {
    background: #000;
}

.buttons button{
    border-radius: 4rem;
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.5rem;
    padding: 10px 0px 10px 0px;
    text-align: center;
    width: 20vw;
    color: #FFFFFF;
    margin: 0.8rem;
    border: none;
}

.buttons{
    margin:20px;
}

.buttons{
    text-align: center;
}

.curve img{
    margin-top: -30px;
    width: 100%;
}


/* footer */
.footer{
    background-color: #E0E0E0;
    text-align: center;
    padding: 20px;
    color:black;
}

.footer p{
    line-height: 10px;
}

.footer code{
    color:black;
}

.footer img{
    width: 23px;
}

/* phone screen */
@media screen and (max-width: 500px) {
    .main{
        margin: 20px 0px 0px 0px;
        width:100%;
    }

    .lang-buttons button{
        width: 50px;
        font-size: 10px;
        padding: 10px 0px 10px 0px;
        text-align: center;
    }

    .header h1{
        font-size: 43px; 
    }
    
    .header{
        margin-bottom: 20px;
    }
    
    .header img {
        margin: 5px;  
        width: 10%; 
    }
    
    .sub-header h3{ 
        font-size: 16px;
    }
    
    .buttons{
        margin:10px;
    }
    
    .buttons button{
        font-size: 16px;
        padding: 10px 0px 10px 0px;
        width: 160px;
        border-radius: 20px;
    }
    
    .curve img{
        margin-left: 0px;
        width: 100%;
        object-fit: cover;
    }
}
