
.team{
    margin: 60px 0px 150px 0px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team h1{
    font-family: Berkshire Swash;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 80px;
    text-align: center;
    color: #CC9900;
    width: 100%;
}

.team img{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
}

.person h6{
    text-align: center;
    font-family: Berkshire Swash;
    color: #1D4573;
    font-weight: normal;
    font-size: 24px;
}

.francia{
    object-position: 0px 1%;
}

.jackie{
    transform: rotate(-90deg); 
}


#logo{
    border-radius: 0px;
    margin:0px;
    width: 160px;
    height: 160px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
}


/* phone screen */
@media only screen and (max-width: 450px) {
    .team h1{
        font-size: 40px;
    }
    
    .team{
        margin: 100px 10px 100px 10px;    
    }
    
    .team img{
        width: 200px;
        height: 200px;
        margin: 20px;
    }
    
    .person h6{
        font-size: 24px;
    }  
}
