.team h1{
    font-family: Berkshire Swash;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 80px;
    text-align: center;
    color: #CC9900;
    width: 100%;
}

.team{
    margin: 150px 0px 150px 0px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team img{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
}

.person h6{
    text-align: center;
    font-family: Berkshire Swash;
    color: #9B51E0;
    font-weight: normal;
    font-size: 24px;
}

.jess{
    transform: rotate(90deg); 
}

.francia{
    object-position: 0px 1%;
}
